.indivSpam {
  border: 2px black solid;
  padding: 1em;
  margin: 0.2em;
  width: 300px;
}

.spam-index{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Courier", sans-serif;
}

.tagline{
  text-align: center;
  font-family: 'Pacifico', sans-serif;
  font-size: 3em;
  margin-top: -20px;
  margin-bottom: 20px;
}
