.spamerator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.spam-options{
  display: flex;
  justify-content: space-around;
  min-width: 100vh;
  padding-left: 30px;
}

.spam-options > *{
  padding: 20px;
}

.spamerator span{
  color: red;
}

.email span:hover {
  cursor: pointer;
  text-shadow: 3px 0 0 darkred;
}

.phone span:hover {
  cursor: pointer;
  text-shadow: 0 4px 0 darkred;
}
